$body-dark-bg: rgb(20, 28, 47);
$container-dark-bg: rgb(31, 42, 72);
$light-bg: rgb(245, 248, 255);
$light-container-bg: rgb(254, 254, 254);
$btn-bg: rgb(0, 121, 255);
$icon-link-color: rgb(15, 75, 149);
$text-dark-color: rgb(255, 255, 253);
$num-light-color: rgb(104, 108, 119);
$icons-light-color: rgb(80, 106, 159);
$second-dark-mode-color: rgb(143, 149, 165);
